In [1]:
```java
class swap{
 public static void main(String args[]){
int x=6,y=10,temp;
temp=x;
x=y;
y=temp;
System.out.println("x="+x +" y="+y);
}
}
```

SyntaxError: invalid syntax (<ipython-input-1-23904d641144>, line 1)

In [2]:
x,y=10,20
x,y=y,x
print(x,"",y)

20  10

In [3]:
x=4

In [4]:
print (x)
print(type(x))

4
<class 'int'>

In [5]:
x=7,8

In [6]:
x=7.8

In [7]:
print(x)
print(type(x))

7.8
<class 'float'>

In [8]:
a="dflkdfmk"
b='dfdgfdg'
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [9]:
x='''
abc
sdf
'''
print(x)

abc
sdf

In [11]:
type(True)

bool

In [12]:
type(False)

bool

In [13]:
#single line comment
'''mult'''

'mult'

In [14]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [16]:
def main():
    print("Hi")
if

Hi

In [18]:
print(__name__)

__main__

In [19]:
list1=[1,2,3,4,"abc",3.5]
type(list1)

list

In [20]:
list1=[1,2,3,4]
type(list1)

list

In [21]:
len(list1)

4

In [27]:
for e,i in enumerate(list1,4):
    print (e,":",i)

4 : 1
5 : 2
6 : 3
7 : 4

In [28]:
a=[1,2,3,2,3,4,2,4,2,4,3,45,4,3,2]
set(a)

{1, 2, 3, 4, 45}

In [29]:
{1,2,3,1,2,3}

{1, 2, 3}

In [30]:
d={
    "name":"dhwani",
    "age":21,
    "country":"india"
}
type(d)

dict

In [31]:
print d

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-31-fecf9a1ec6f3>, line 1)

In [32]:
print(d)

{'name': 'dhwani', 'age': 21, 'country': 'india'}

In [33]:
d.keys()

dict_keys(['name', 'age', 'country'])

In [34]:
d.values()

dict_values(['dhwani', 21, 'india'])

In [37]:
for key,value in d.items():
    print("{} is equal to {}".format(key,value))

name is equal to dhwani
age is equal to 21
country is equal to india

In [38]:
# set
a=[1,2,3,4,2,4,2,4,2,4,2,4,2]
print(min(a))
print(max(a))
set(a)

1
4

{1, 2, 3, 4}